<launch>

	<!-- these are the arguments you can pass this launch file, for example 
paused:=true -->
	<arg name="paused" default="false" />
	<arg name="use_sim_time" default="true" />
	<arg name="gui" default="true" />
	<arg name="headless" default="false" />
	<arg name="debug" default="true" />

	<!-- We resume the logic in empty_world.launch, chclanging only the name of 
		the world to be launched -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find p3dx_gazebo)/worlds/p3dx.world" />
		<arg name="debug" value="$(arg debug)" />
		<arg name="gui" value="$(arg gui)" />
		<arg name="paused" value="$(arg paused)" />
		<arg name="use_sim_time" value="$(arg use_sim_time)" />
		<arg name="headless" value="$(arg headless)" />
	</include>

        
	<!-- Load the URDF into the ROS Parameter Server: -->
	<param name="robot_description" 
        command="$(find xacro)/xacro.py '$(find p3dx_description)/urdf/pioneer3dx.xacro'" />

	<!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
	<!-- 
	<node name="p0" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model p0 -param robot_description -x -2.0 -y  1.0 -z 0.5 -namespace p0" />
	<node name="p1" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model p1 -param robot_description -x -2.5 -y -1.5 -z 0.2 -namespace p1" />
	<node name="p2" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model p2 -param robot_description -x -2.0 -y -1.5 -z 0.2 -namespace p2" />
       	<node name="p3" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model p3 -param robot_description -x -2.5 -y -0.5 -z 0.5 -namespace p3" />
	<node name="p4" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model p4 -param robot_description -x -2.0 -y  0.0 -z 0.5 -namespace p4" /> 
	<node name="p5" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model p5 -param robot_description -x -2.5 -y  0.5 -z 0.5 -namespace p5" />
	-->
	<!-- ros_control p3rd launch file -->
	<!-- <include file="$(find p3dx_control)/launch/control.launch" /> -->

</launch>
